<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
  </head>
  <body class=''>
    <div class='pure-g'>
      <div class='pure-u-1-3'></div>
      <div class='pure-u-1-3'>
      <h1>Confirm donation</h1>
      </div>
      <div class='pure-u-1-3'></div>
    </div>
    <div class='pure-g'>
      <div class='pure-u-1-3'></div>
      <div class='pure-u-1 pure-u-sm-1-3'>
        <table class='pure-table'>
          <tbody>
            <tr>
              <td>Donate to</td>
              <td>{{ title }}</td>
            </tr>
            <tr>
              <td>Amount</td>
              <td>{{ rs }} {{ amount_rs }}</td>
            </tr>
            <tr>
              <td>Frequency</td>
              <td>
              {% if frequency == 0 %}
                once
              {% else %}
                after every {{ frequency }} days
              {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <button width='100%' id="rzp-button1" class='pure-button pure-button-primary'>Click to pay</button>
      </div>
      <div class='pure-u-1-3'></div>
    </div>
    <script>
    var options = {
        "key": "{{ rzp_key }}",
        "order_id": "{{ order_id}}",
        "customer_id": "{{ customer_id }}",
        "recurring": "1",
        "prefill": {
          "name": "{{ name }}",
          "email": "{{ email }}",
          "contact": "{{ mobile }}"
        },
        "theme": { "color": "{{ color }}" },
        "callback_url": "{{ callback_url }}"
    };
    try{
      var rzp1 = new Razorpay(options);
    }
    catch(e){
        console.error(e);
    }
    rzp1.on('payment.failed', function (response){
      console.log(response.error.code);
      console.log(response.error.description);
      console.log(response.error.source);
      console.log(response.error.step);
      console.log(response.error.reason);
      console.log(response.error.metadata.order_id);
      console.log(response.error.metadata.payment_id);
    })
    document.getElementById('rzp-button1').onclick = function(e){
        try{
          rzp1.open();
          e.preventDefault();
        }
        catch(e){
          console.error(e);
        }
        
    }
    </script>
  </body>
</html>

